

/*  background footer/content #F2EBBF
    background meny #5C4B51
    
*/


#wrap {
        width: 900px;
        margin: 0 auto;
        
        
        }

#header {
        border:2px solid;
        border-radius: 4px;
        border-color: black;
        float: center;
        padding: 15px 15px;
        
}


#meny { border: 2px solid;
        Border-radius:4px;
        border-color: black;
        float: left;
        padding: 5px 10px;
        margin-left: auto;
        width:200px;
        height:150px;
        background-color:#;
        
}


      
#meny li {
        display: block;
        
}

#meny a:hover{
    color: white;
    background-color: blue;
    
}


#content { border: 2px solid;
            border-radius:4px;
            border-color:black;
            width: 620px;
            float: right;
            padding: 10px 25px;
            background-color:#F2EBBF;
            


}

#footer {
        border: 2px solid;
        border-radius: 4px;
        border-color: black;
        clear:both;
        padding: 10px 25px;
        background-color:#F2EBBF;
}