/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, th,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------------------------*/

                            /*backgrunds bild */

#background { background: url(pics/tree_bark.png); 
                background-size: cover;
}

#wrap {
        width: 900px;
        margin: 0 auto;
        
}
                            /* logga */
#header {
        border:solid;
        border-radius: 4px;
        border-color: black;
        float: center;
        padding: 15px 15px;
        
}

                            /* rubriker */

h1 { font-size:2.3em;
    margin-bottom:20px;
    font-family:helvetica, sans-sherif;
    font-weight:bold;
    text-align:center;
    
}

h2 { font-size:1.7em;
    font-weight:bold;
    font-family:helvetica, sans-sherif;
    text-align:center;
}

h3 { font-size:1.4em;
    font-weight:bold;
    font-family:helvetica, sans-sherif;
}

h4 { font-size:1.2em;
    font-weight:bold;
    font-family:helvetica, sans-sherif;
    text-decoration:underline;
}
                                /* body delen */

#content { border: 2px solid;
            border-radius:4px;
            border-color:black;
            width: 642px;
            float: right;
            padding: 10px 25px;
            background-color:#F2EBBF;
            font-family:helvetica, sans-sherif;
}

#content li b{ font-weight:bold;
        

}

#content li a:hover{  color: green;
                        text-decoration:underline;
}

#content i{ font-style:italic;
            font-size:0.9em;

}

#content dd{ text-align:justify;

}


#bloggt1 { font-family:Lorem ipsum;

}

#bloggbild1 { float:right;
}
                                    /*meny instälningar */
                                    
                                        /*sprite*/

#sprite a { background-image: url(pics/sprite.png);
            width:200px;
            height:24px;
            display:block;
            text-indent: 22px;
            background-repeat:no-repeat;
        
}

#hem {      background-position:0 0;
    
}

#hem:hover { background-position:0 -48px;
    
}

#pres {     background-position:0 -192px;
    
}

#pres:hover { background-position: 0 -240px;

}

#labbb {    background-position:0 -96px;

}

#labbb:hover {background-position: 0 -144px;
}

#kont {     background-position:0 -288px;
    
} 

#kont:hover {  background-position: 0 -336px;
    
}

/*sprite slut*/



#mainnav { border:2px solid black;          
        width:200px;
        border-bottom:none;
        border-color: black;
        float:left;
        
        
        
}


#mainnav li{ border-bottom:1px solid black;


}

#mainnav a{ text-decoration:none;
            background-color:#9C9;
            color:#EFE;
            font-family: helvetica, sans-sherif;
            font-weight:bold;
            display:block;
            padding:10px;
            
}


.active { text-align:center;

}
            

                                            /* tabeller */
#tabell  {
    border: 2px solid;
    border-radius: 5px;
    padding: 50px 50px;
    background-color: white;
}
#tabell tr {
    padding: 5px 5px;
    background-color:#9C9;
    
}

#tabell th {    
            padding: 5px 5px;
             background-color:#EFE;
}

#lab { background-color:#EFE;
}
                                            /*längst ner på sidan */
#footer { border: 2px solid;
        border-radius: 4px;
        border-color: black;
        clear:both;
        padding: 10px 25px;
        background-color:#F2EBBF;
}         

#footer p i{ font-style:italic;
            font-size:0.9em;
}

#footer {   background-image: url(pics/logo_symbol.png);
        background-position: right;
        background-size:100px 100px;
        background-repeat:no-repeat;
            
            
}

.nere {
     
        text-align: center;
        padding: 110px;
    }   
    
    
    